:root {
    --blanco: #f5f5f5;
    --enlaces-menu: #FFFFFF80;
    --enlaces-parrafo: #0075fc;
    --gris-claro: #455A64;
    --turquesa-oscuro: #455A64;
    --padding-general: 0 4%;
    --tipografia-principal: 'Roboto', sans-serif;
    --titulo-color: #465b66;
    --titulo-color-seccion: #484848;
}